<!-- /Shop -->

@model IEnumerable<Shamazon.Models.Product>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shop</h2>
@if (!Model.Any())
{
    <p>No listings available!</p>
}
else
{
    foreach (var product in Model)
    {
    <hr />
    <a href="/Shop/Product/@product.Id"> 
        <div class="row">
            <div class="col-xs-3">[IMAGE]</div>
            <div class="col-xs-6">
                <div class="row">
                    <p>@product.Name</p>
                    <p class="text-muted font-small">By @product.SellerName</p>
                    @if (product.OriginalPrice != 0 && product.CurrentPrice < product.OriginalPrice)
                    {
                        <p>$@product.CurrentPrice</p>
                        <p class="font-small">List <span class="line-through ">$@product.OriginalPrice</span></p>
                    }
                    else
                    {
                        <p>$@product.CurrentPrice</p>
                    }
                </div>
            </div>
            <div class="col-xs-3">
                Rating: @product.Rating
            </div>
        </div>
    </a>
    }
}
