@model IEnumerable<Shamazon.Models.Transaction>

@{
    /**/

    ViewBag.Title = "Your purchase history";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>No purchases have been made!</p>
}
else
{
    <div class="row">
        <div class="col-sm-3"></div>
        <a href="Manage/Products"><div class="col-sm-6 card text-center">Add a new product!</div></a>
        <div class="col-sm-3"></div>
    </div>

    <p>Your products</p>
    <table class="table table-hover">
        @foreach (var product in Model)
        {
            <tr>
                <th class="col-md-3"></th>
                <th class="col-md-3">Rating:</th>
            </tr>
        }
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
