@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The application “ShAmazon” will provide a centralized online shopping service for buyers and sellers.
    The intended users of ShAmazon are general online shoppers who are looking to track their
    purchase history through a user-friendly dashboard, and sellers who are looking for a third party vendor
    to list items and track sale metrics through a user-friendly dashboard with the ability to easily export their data.
</p>
