@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>ShAmazon</h1>
    <p class="lead">Start shopping or become a seller today!</p>
    <p><a onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary btn-lg">Sign Up Today &raquo;</a></p>
</div>

<h1>Featured Products</h1>


<div class="row">
    
<!--Featured Product 1-->
    <div class="col-md-4">

        <img class="card-img-top" src="~/Content/headphones.jpg" style=" margin:0 auto; width: 100%" alt="Card image cap">

        <h2>Beats Studio3 Wireless Over-Ear Headphones [Defiant Black-Red]</h2>
        <p>
            Connectivity Technology: Wireless Connect via Class 1 Bluetooth with your device for wireless workout freedom
            Up to 12 hours of battery life to power through multiple workouts
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Shop")'">View Product &raquo;</a></p>
    </div>

    <!--Featured Product 2-->
    <div class="col-md-4">
        <img class="card-img-top" src="~/Content/pokemon.jpg" style=" margin:0 auto; width: 100%" alt="Card image cap">

        <h2>Pokémon: Let’s Go, Pikachu! + Poké Ball Plus Pack </h2>
        <p>
            Take your favorite Pokémon out for a stroll in Poké Ball Plus. Share your adventure with family or friends 
            in 2-player action using a second Joy-Con or Poké Ball Plus (sold separately). <br />
            Every accessory contains the Mythical Pokémon Mew!** <br />
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index", "Shop")'">View Product &raquo;</a></p>
    </div>

    <!--Featured Product 3-->
    <div class="col-md-4">
        <img class="card-img-top" src="~/Content/christmas.jpg" style=" margin:0 auto; width: 100%" alt="Card image cap">

        <h2>22in Pre-Lit Battery Operated Tabletop Mini Artificial Christmas Tree</h2>
        <p>
            Branches are pre-decorated with (15) warm LED Christmas string lights to brighten your space<br />
            Includes (14) golden Christmas ornaments and various holly berries spread throughout the branches<br />
            Wireless tree only requires (3) AA batteries for use (not included)
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index","Shop")'">View Product &raquo;</a></p>
    </div>
</div>

