@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>ShAmazon</h1>
    <p class="lead">Welcome</p>
    <p><a onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary btn-lg">Sign Up Today &raquo;</a></p>
</div>

<h1>Featured Products</h1>


<div class="row">
    
<!--Featured Product 1-->
    <div class="col-md-4">
        
        <img class="card-img-top" src="~/Content/image.svg" alt="Card image cap">

        <h2>product.Name</h2>
        <p>
            [product description]
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Checkout", "Home")'">View Product &raquo;</a></p>
    </div>

    <!--Featured Product 2-->
    <div class="col-md-4">

        <img class="card-img-top" src="~/Content/image.svg" alt="Card image cap">

        <h2>product.Name</h2>
        <p>
            [product description]
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Checkout", "Home")'">View Product &raquo;</a></p>
    </div>

    <!--Featured Product 3-->
    <div class="col-md-4">

        <img class="card-img-top" src="~/Content/image.svg" alt="Card image cap">

        <h2>product.Name</h2>
        <p>
            [product description]
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Checkout", "Home")'">View Product &raquo;</a></p>
    </div>
</div>

