body {
    padding-top: 115px; /* original: 50px */
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.card {
    padding: 40px;
    border-radius: 6px;
    margin: 5px;
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f8f5f0;
    border: 1px solid transparent;
}

.card:hover {
    background-color: #d9edf7;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.line-through {
    text-decoration: line-through;
}

.font-small {
    font-size: 10px;
}

.well {
    height: 125px!important;
}